@media (min-width:470px) and (max-width:10000px){
  .imgCard img{
    width: 380px;
    height: 50vh;
}

.card{
    width:auto;
    height: auto;
    margin-left:40px ;
}

h1 {
    color: #6c7ac9;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
  }
  


  .pagination a {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top:10px ; */
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
  }

  .pagination a:focus {
    background: brown;
    border: 0.5px solid #d9d9d9;
    color: #fff!important;
}
  

  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  
  .row{
    width: 90%;
  }

  .container{
width: 70%;
/* background-color: red; */
margin-top: 30px;
  }

  .fullBody{
    width: 100%;
  }

  .loadMore{
    background-color: #04AA6D;
    width: 90%;
    margin-left: 85px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: auto;
    height: 40px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  
  .loadMore:hover{
      background-color: red;
      transform: scale(1.1);
  
  }
}

@media (min-width:0px) and (max-width:470px){
  .imgCard img{
    width: 360px;
    height: 50vh;
}

.card{
    width:360px;
    height: auto;
    margin-left:-45px ;
}

h1 {
    color: #6c7ac9;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
  }
  


  .pagination a {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top:10px ; */
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
  }

  .pagination a:focus {
    background: brown;
    border: 0.5px solid #d9d9d9;
    color: #fff!important;
}
  

  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  
  .row{
    width: 90%;
  }

  .container{
width: 70%;
/* background-color: red; */
margin-top: 30px;
  }

  .fullBody{
    width: 100%;
  }

  .loadMore{
    background-color: #04AA6D;
    width: 90%;
    margin-left: -5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: auto;
    height: 40px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  
  .loadMore:hover{
      background-color: red;
      transform: scale(1.1);
  
  }
}
